<h1>User info</h1>
  <div>
    <div>
      <a href="/users/:id"><%= image_tag 'user_image.jpeg' %></a>
    </div>
    <p>Opinion：<%= user.introduce %></p>
    <label></label>
    <strong><%= current_user.name %></strong>
  </div>