<% flash[:notice] %>
<h1>User info</h1>
    <div><%= image_tag 'user_image.jpeg' %></div>
      <strong>name:</strong><%#= f.current_user.name %><br>
      <strong>introduce:</strong><%#= f.current_user.introduce %>
    </div>
    <p><%= link_to "Edit Profile", edit_user_path %></p>